#welcomeImage {
    width: 100%;
}

#welcomeBox {
    position: absolute;
    top: 40%;
    left: 38%;
    background-color: white;
    width: 24%;
}

#welcomeBoxTitle{
    font-size: 2.5em;
    text-align: center;
}

#welcomeBoxSlogan{
    font-size: 1.5em;
    text-align: center;
}